.root {
  --md-sys-color-primary: rgb(207 220 255);
  --md-sys-color-surface-tint: rgb(175 198 255);
  --md-sys-color-on-primary: rgb(3 35 85);
  --md-sys-color-primary-container: rgb(120 144 199);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(213 220 243);
  --md-sys-color-on-secondary: rgb(30 37 54);
  --md-sys-color-secondary-container: rgb(137 144 165);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(246 209 245);
  --md-sys-color-on-tertiary: rgb(53 29 55);
  --md-sys-color-tertiary-container: rgb(167 134 167);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 19 24);
  --md-sys-color-on-background: rgb(226 226 233);
  --md-sys-color-surface: rgb(18 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 71 79);
  --md-sys-color-on-surface-variant: rgb(219 220 230);
  --md-sys-color-outline: rgb(176 177 187);
  --md-sys-color-outline-variant: rgb(142 144 153);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 233);
  --md-sys-color-inverse-on-surface: rgb(40 42 47);
  --md-sys-color-inverse-primary: rgb(46 71 121);
  --md-sys-color-primary-fixed: rgb(217 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 16 47);
  --md-sys-color-primary-fixed-dim: rgb(175 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(26 53 102);
  --md-sys-color-secondary-fixed: rgb(219 226 249);
  --md-sys-color-on-secondary-fixed: rgb(9 17 33);
  --md-sys-color-secondary-fixed-dim: rgb(191 198 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(47 54 72);
  --md-sys-color-tertiary-fixed: rgb(252 215 251);
  --md-sys-color-on-tertiary-fixed: rgb(30 8 34);
  --md-sys-color-tertiary-fixed-dim: rgb(223 187 222);
  --md-sys-color-on-tertiary-fixed-variant: rgb(71 45 73);
  --md-sys-color-surface-dim: rgb(18 19 24);
  --md-sys-color-surface-bright: rgb(67 68 74);
  --md-sys-color-surface-container-lowest: rgb(6 7 12);
  --md-sys-color-surface-container-low: rgb(28 29 35);
  --md-sys-color-surface-container: rgb(38 40 45);
  --md-sys-color-surface-container-high: rgb(49 50 56);
  --md-sys-color-surface-container-highest: rgb(60 61 67);
}
