body{
    padding: 0;
    margin: 0;
    height: 100%;
    background: linear-gradient(125deg,#c156df 40%, #dfbfcc ) fixed no-repeat;
    size: 0px;
    
}
a{
    text-decoration: none;
    color: white;
}
input[type="radio"] {
  transform: scale(2);
  accent-color: #79009b;
  margin-right: 10px;
}
label {
    display:flex;
  align-items: center;
}

.homeHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #79009b;
    color: white;
    width: 100%;
    height: 150px;
}
.homeFooter{
    flex: 1;
    align-items: center;
    background: #79009b;
    color: white;
    height: 150px;
    font-size: 32px;
    text-align: center;
    place-items: center;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    position: relative;
    bottom: 0;
    border-top-color: #55006d;
    border-top-width: 5px;
    border-top-style:solid;
}
.homeHeaderLogo{
    flex: 1;
    width: 20%;
}
.homeHeaderDiv{
    flex: 7;
    text-align: center;
    place-items: center;
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
}
.pageTitle{
    flex: 1;
    text-align: center;
    place-items: center;
    font-size: 108px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #55006d;
}
.pageSubTitle{
    flex: 1;
    text-align: center;
    place-items: center;
    font-size: 42px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #55006d;
}
.pageTextHeader{
    flex: 1;
    
    text-align: center;
    place-items: center;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #55006d;
    
}
.pageTextBlock{
    flex: 1;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    place-items: center;
    text-align: justify;
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #55006d;
}
.pageBanner{
    flex: 1;
    width: 100%;
    text-align: center;
    place-items: center;
    background: #79009b;
    height: 100px;
    font-size: 42px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;

    border-top-color: #55006d;
    border-top-width: 5px;
    border-top-style:solid;
    border-bottom-color: #55006d;
    border-bottom-width: 5px;
    border-bottom-style:solid;
}

.bodyColumnContainer{
    flex:1 ;
}
.bodyColumnWide{
    flex: 9;
    text-align: center;
    place-items: center;
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    min-height: 72vh;
    border-top-color: #55006d;
    border-top-width: 5px;
    border-top-style:solid;
}
.assessmentTitle{
    flex: 1;
    text-align: center;
    place-items: center;
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}
.assessmentSubTitle{
    flex: 1;
    text-align: center;
    place-items: center;
    font-size: 42px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #55006d;
}
.questionRadioContainer{
    flex: 1;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    place-items: left;
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #55006d;
}
.questionInstruction{
    flex: 1;
    text-align: center;
    align-items: center;
    font-size: 42px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
.singleSubmit{
    flex: 1;
    text-align: center;
    place-items: center;
    font-size: 42px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #55006d;
}
.singleSubmit button{
    background-color: #55006d;
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
}